.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;

    li {
        padding: 10px 15px;
    }

    li + li {
        border-top: 1px solid $creamy-darker;
    }

    a {
        display: block;
        padding: 12px 15px;
        color: $palette-red-4;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    label {
        display: block;
        font-family: $base-font-family;
        font-size: 11pt;
        font-weight: 300;
        letter-spacing: .5px;
    }

    .text-lg {
        line-height: 100%;
    }
}

.list-links {
    font-weight: normal;

    li {
        padding: 0;
    }
}