/**
 * Widget structure
 */
.widget {
    color: #fff;
    font-size: 12pt;

    .widget-title,
    h2 {
        @extend h3;
        @extend .box-title;
        background-color: transparent;
        font-size: 15pt;
        margin: 0;

        .fa {
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }

    p > a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/**
 * Widget content holder
 */
.widget-content-holder {
    padding: $widget-padding;
}


[class^="sidebar-"] .widget > .box-content {
    padding-top: 0 !important;
}

[class^="sidebar-"] .widget_helsingborgpostinheritwidget img {
    width: 100%;
    height: auto;
}