/**
 * Header area
 */
.header-main {
    position: relative;
}

.color-band {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;

    @media #{$medium-only} {
        width: 10px;
    }

    @media #{$small-only} {
        width: 5px;
    }
}

.logotype {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 15px;
        max-height: 50px;
        height: 41px;
        width: auto;

        @media #{$small-only} {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    @media #{$small-only} {
        max-width: 250px;
        max-height: none;
    }
}

.mobile-header-image {
    width: 100%;
    height: auto;

    @media #{$medium-up} {
        display: none;
    }
}

.hero .mobile-header-image + .slider-area {
    @media #{$small-only} {
        display: none;
    }
}

/**
 * Top navigation bar
 */
.nav-bar {
    background: $band-red-4;
    padding: 0;
    position: relative;

    .row {
        position: relative;
    }

    .logotype {
        margin: 6px 0;
    }

    @media #{$small-only} {
        .row {
            display: table;
            width: 100%;
        }

        .logotype {
            display: table-cell;
            vertical-align: middle;
            max-width: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        .mobile-nav {
            display: table-cell;
            width: 68px;
            vertical-align: middle;
            padding-right: 15px;
        }
    }
}

/**
 * Header welcome area
 */
.header-welcome {
    background: $dark-gray-1;
    padding: 30px 0;

    > .row {
        position: relative;
        &::after {
            clear: none;
        }
    }

    .header-welcome-text {
        float: none;
    }

    h1 {
        color: #fff;
        line-height: 1;
    }

    article {
        p {
            color: $light-gray-text;
        }
    }

    .sidebar-right {
        float: right;
        margin-top: 20px;

        @media #{$medium-up} {
            margin-top: -13%;
        }
    }
}

/**
 * Hero area (with slider)
 */
.hero {
    position: relative;

    .slider-container {
        height: 350px;
        overflow: hidden;

        .slider-columns {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }

    /**
     * Widgets in hero
     */
    > .widget {
        margin-left: 25px;
        padding: 0;

        @media #{$medium-only} {
            margin-left: 10px;
        }

        @media #{$small-only} {
            margin-left: 5px;
        }
    }

    /**
     * Remove margin, padding and set background size
     */
    > .columns.no-margin {
        background-size: cover;
        background-position: center center;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    /**
     * Move the orbit prev button to not overlap the color band
     */
    .orbit-prev {
        left: 25px;

        @media #{$medium-only} {
            left: 10px;
        }

        @media #{$small-only} {
            left: 5px;
        }
    }

    /**
     * The orbit container
     */
    .orbit-container {
        width: 100%;
        height: 100%;
    }

    /**
     * The orbit element
     */
    .hero-orbit {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        li {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;

            .caption {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70%;
                @include gradient(rgba(0,0,0,0), rgba(0,0,0,.7));

                .caption-content {
                    position: absolute;
                    left: 0;
                    bottom: 30px;
                    width: 100%;
                    font: bold 20pt $font-roboto;
                    color: #fff;
                    text-shadow: 0 5px 20px rgba(0,0,0,.7);

                    a.read-more {
                        font: 300 12pt $font-roboto;
                        color: $band-red-1;
                        display: block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
