/**
 * Main site container
 */

.main-site-container {
    background: #fff;
    transition: all .3s;
    box-shadow: 0 0 20px #111;
    -moz-box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;

    .move-left & {
        height: 100vh;
        overflow: hidden;
    }
}

/**
 * Row max width
 */
.row {
    max-width: $row-max-width;
}

/**
 * Content container
 */
.content-container {
    padding: 70px 0;
}

/**
 * Sidebars
 */

.sidebar-right {
    .widget + .widget {
        margin-top: 30px;
    }
}

.event-list-page .sidebar-right {
    margin-top: 100px;
}

/**
 * Read more button
 * Always append a chrevron right to read more buttons
 */
.read-more {
    &::after {
        content: "\00a0" "»";
    }
}

#wpadminbar {
    position: fixed;
}

.content-area {
    margin-top: 30px !important;

    .widget + .widget {
        margin-top: 30px;
    }
}

.main-content {
    margin-bottom: 20px;
}

img {
    @media #{$medium-up} {
        &.alignleft {
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            margin-top: 30px;
        }

        &.alignright {
            float: right;
            margin-top: 30px;
            margin-left: 15px;
            margin-bottom: 15px;
        }
    }
}