.article-header {
    h1 {
        color: $palette-red-4;
        margin-bottom: 0;
    }

    .row + .row {
        margin-top: 10px;
    }
}

#read-speaker-player {
    margin-top: 10px;
}

.article-ingress {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: 300;
    line-height: 150%;
}

.article-body {
    a {
        color: $link-a;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $link-a-hover;
            text-decoration: underline;
        }

        &:visited {
            color: $link-a-visited;
        }
    }

    ul {
        list-style-type: none;

        li {
            position: relative;

            & + li {
                margin-top: 5px;
            }

            &::before {
                position: absolute;
                left: -20px;
                top: 9px;
                content: '';
                width: 6px;
                height: 6px;
                background-color: $palette-red-3;
            }
        }
    }
}

.article-accessibility {
    li + li {
        margin-left: 20px;
    }

    a {
        font-weight: 300;
        color: $text-gray-dark !important;
        text-decoration: none;

        &:hover {
            text-decoration: none !important;
            color: $palette-red-2 !important;
        }
    }
}

.hbgic-easy-to-read {
    width: 17px;
    height: 17px;
    margin-top: 1px;
    vertical-align: middle;
    position: relative;
    font-family: 'Arial', 'Verdana', 'Tahoma';
    font-weight: bold;

    &::before {
        content: 'L';
        position: absolute;
    }

    &::after {
        content: 'L';
        position: absolute;
        bottom: 3px;
        left: 5px;
    }
}