.article {
    a {
        color: $link-a;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $link-a-hover;
            text-decoration: underline;
        }

        &:visited {
            color: $link-a-visited;
        }
    }
}

.article-header {
    h1 {
        color: $palette-red-4;
    }
}

.article-ingress {
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: 300;
    line-height: 150%;
}

.article-body {

}

.article-accessibility {
    li + li {
        margin-left: 20px;
    }

    a {
        font-weight: 300;
        color: $text-gray-dark !important;
        text-decoration: none;

        &:hover {
            text-decoration: none !important;
            color: #000 !important;
        }
    }
}