// Button in different styles
//
// .btn-plain       - Text only button
// .btn-submit      - Orange button to use for submit
//
// Markup:
// <button class="btn {{modifier_class}}">Button</button>
// <a href="#" class="btn {{modifier_class}}">Button</a>

.btn {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $palette-red-4;
    border: none;
    color: #fff;
}

.btn-submit {
    background: $palette-red-3;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover {
        background: darken($palette-red-3, 5%);
    }
}

.btn-plain {
    background-color: transparent;
    color: $palette-red-4;
    padding: 0;

    &:hover {
        color: darken($palette-red-4, 10%);
    }
}