input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="range"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
    background: #fff;
    border: 1px solid #ddd;
}

.input-group {
    input,
    button {
        vertical-align: top;
        display: inline-block;
        margin-left: -5px;
    }
}