// Fun facts

.fun-fact-title {
    font-size: 25pt;
    font-weight: 900;
    line-height: 120%;
    color: $palette-red-4;

    .fa {
        color: $text-gray-light;
    }
}

.fun-fact-caption {
    font-size: 11pt;
    line-height: 140%;
    color: $text-gray-light;
}