.index {

}

.index-item {
    display: block;
    background-color: $palette-red-2;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: bold;

    &:hover {
        background-color: darken($palette-red-2, 5%);
    }

    .index-caption {
        display: block;
        padding: 15px;
        line-height: 130%;

        &::before {
            @include hbg-icon($icon-link-arrow);
            display: inline-block;
            margin-right: 8px;
            color: rgba(255,255,255,.6);
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}