// A list of items in a box
//
// .list-links          - A list of links
// .list-events         - A list of events (with date)
// .list-horizontal     - Makes the list flow from left to right
// .list-icons          - A list of icons
//
// Markup:
// <ul class="list {{modifier_class}}">
//      <li>Item</li>
// </ul>

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;

    li {
        padding: 12px 18px;
    }

    li + li {
        border-top: 1px solid $creamy-darker;
    }

    a {
        display: block;
        padding: 12px 15px;
        color: $palette-red-4;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    label {
        display: block;
        font-family: $base-font-family;
        font-size: 11pt;
        font-weight: 300;
        letter-spacing: .5px;
    }

    .text-lg {
        line-height: 100%;
    }

    .featured {
        display: block !important;
        margin-left: -1px;
        margin-right: -1px;
        background-color: $palette-red-2;
        color: #fff;
    }
}

// List in sidebar

[class^="sidebar-"] .list {
    font-weight: normal;

    li {
        margin: 0;
        padding: 0;

        & + li {
            margin-top: 3px;
            border-top: none;
        }
    }

    a:not(.list-more) {
        display: block;
        background: rgba(0, 0, 0, .1);
        padding: 8px 12px;
        color: #fff;
        letter-spacing: .8px;
        font-weight: 300;
        text-decoration: none;

        &:hover {
            background: rgba(0, 0, 0, .2);
        }

        .date {
            float: none;
            font-size: 9pt;
            position: static;
            color: rgba(#fff, .8);
        }
    }

    span {
        display: block;
        padding: 0;
        margin: 0;
    }

    .link-item {
        left: 0;

        &::before {
            display: none;
        }
    }
}

[class^="sidebar-"] .widget_simplelinklistquick-links-widget .box-content {
    padding: 10px;
    padding-top: 0;
}

.section-featured .list .featured {
    background-color: $creamy-darker;
    color: $text-default;
    padding: 15px !important;

    .link-item {
        color: $palette-red-4;
    }
}

.list-plain {
    display: block;

    li {
        padding: 0;
    }

    a {
        padding: 0;
    }
}

.list-horizontal {
    li {
        float: left;

        & + li {
            border-top: none;
            margin-left: 10px;
        }
    }
}

// List types

.list-links {
    font-weight: normal;

    li {
        padding: 0;
        position: relative;
        padding-right: 90px;
    }

    a:focus {
        color: $focus-color;
    }

    .date {
        position: absolute;
        right: 15px;
        top: 13px;
        color: $text-gray-light;
        font-size: 9pt;
        margin-top: 2px;
    }
}

.list-icons {
    font-size: 40pt;
    line-height: 100%;

    li {
        margin: 0;
        padding: 0;

        a {
            margin: 0;
            padding: 0;
        }
    }

    .icon-link {
        line-height: 100%;
    }
}

.list-events {
    .event-item {
        display: table;

        &:hover {
            text-decoration: none;

            .title {
                text-decoration: underline;
            }
        }
    }

    .featured {
        padding: 10px;
        padding-top: 6px;

        [class*="columns"] {
            padding: 0;
            margin: 0;
        }

        .featured-image {
            padding-right: 15px;
        }

        .link-item {
            display: block;
            font-weight: 300;
            font-size: 11pt;
            letter-spacing: .5px;
            color: lighten($palette-red-2, 40%);
        }

        &:hover {
            .link-item {
                text-decoration: underline;
            }
        }
    }

    .date {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        height: 100%;
        padding: 7px;
        border-right: 1px solid $creamy-darker;
        font-weight: 200;
        font-size: 10pt;
        line-height: 140%;
        letter-spacing: .5px;
        text-align: center;
        color: $text-default;

        span {
            display: block;
        }
    }

    .title {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 15px;
    }

    li, a {
        padding: 0;
    }
}

.list-events-sidebar {
    li {
        padding: 0;

        & + li {
            border-top: 0;
            margin-top: 3px;
        }
    }

    .event-item {
        padding: 10px 20px 10px 10px;
        background: rgba(0, 0, 0, .1);

        &:hover {
            background: rgba(0, 0, 0, .2);
            text-decoration: none;
        }
    }

    .date {
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        height: 100%;
        padding: 0px;
        font-weight: 100;
        font-size: 11pt;
        line-height: 140%;
        letter-spacing: .5px;
        text-align: center;
        color: #fff;

        span {
            display: block;
        }
    }

    .title {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 15px;
        color: #fff;
    }

    .link-item {
        @extend .link-item-light;
    }

    .hbg-loading {
        width: 100%;
        margin: 0;
    }
}

.list-event-times {
    font-weight: normal;

    span {
        display: block;
    }

    .event-location {
        font-weight: bold;
    }
}

.list-news {
    font-weight: normal;
    font-size: 11pt;

    a {
        padding: 0;
        color: $text-default;

        &:hover {
            .news-title,
            .read-more {
                text-decoration: underline;
            }
        }
    }

    .news-title {
        font-size: 16pt;
        line-height: 120%;
        margin: 0;
        color: $palette-red-4;
    }

    .read-more {
        color: $palette-red-4;
    }

    .news-date {
        font-size: 10pt;
    }
}

// List more button
//
// Markup:
// <a class="list-more" href="#">View more</a>

.list-more {
    display: block;
    background: $creamy;
    color: #7d7d7b !important;
    font-weight: normal;
    font-size: 12pt;
    padding: 10px 15px !important;
    text-decoration: none;

    &::before {
        position: relative;
        top: -1px;
        @include hbg-icon($icon-more-plus);
        display: inline-block;
        margin-right: 5px;
        font-size: 10pt;
    }

    &:hover {
        text-decoration: underline;
    }
}

// A list formatted with a label and a value
//
// Markup:
// <ul class="label-list">
//     <li>
//         <span class="item-label">Label</span>
//         <span class="item-value">Value</span>
//     </li>
// </ul>

.label-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .item-label {
        display: inline-block;
        width: 200px;
        color: $text-gray-light;
    }

    .item-value {
        display: inline-block;
        font-weight: bold;
    }
}