// Navigation bar
//
// Markup:
// <nav class="navbar"></nav>

.navbar {
    .nav {
        @extend .nav-horizontal;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14pt;

        li {
            padding-right: 20px;
            text-align: left;
        }

        a {
            color: $navbar-main-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $palette-red-4;
            }
        }

        li.current-page-ancestor,
        li.current-menu-item {
            a {
                background-color: $palette-red-4;
                color: #fff;
                padding: 5px 8px;
            }
        }

        li:first-child {
            text-align: left;
        }
    }
}

.navbar-aside {
    border: 1px solid $creamy-darker;

    li {
        position: relative;

        & + li {
            border-top: 1px solid $creamy-darker;
        }
    }

    a {
        display: block;
        padding: 6px 10px;
        font-size: 12pt;
        color: $text-default;
        text-decoration: none;

        &:hover {
            color: $palette-red-4;
        }
    }

    .sub-menu {
        margin: 0;
        padding: 0;
        border-top: 1px solid $creamy-darker;
        border-left: 8px solid $creamy-darker;
    }

    .has-childs {
        > a {
            padding-right: 30px;
        }

        &::after {
            position: absolute;
            right: 10px;
            top: 11px;
            @include hbg-icon($icon-plus-square);
            font-size: 10pt;
            color: $text-gray-light;
        }
    }

    .has-childs.current {
        > a {
            padding-right: 30px;
        }

        &::after {
            position: absolute;
            right: 12px;
            top: 11px;
            @include hbg-icon($icon-caret-down);
            font-size: 10pt;
            color: $text-gray-light;
        }
    }

    .current-ancestor:not(.current-node),
    .current-ancestor.has-childs {
        //background-color: $creamy;

        > a {
            padding-right: 30px;
        }

        &::after {
            position: absolute;
            right: 12px;
            top: 11px;
            @include hbg-icon($icon-caret-down);
            font-size: 10pt;
            color: $text-gray-light;
        }
    }

    .current-ancestor-last {
        background-color: $creamy;
    }

    .current {
        > a {
            position: relative;
            color: $palette-red-4;
        }

        &:not(.has-childs) > a {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -10px;
                bottom: 0;
                width: 10px;
                display: block;
                background-color: $palette-red-4;
            }
        }
    }

    .nav > .current > a {
        &::after {
            display: none;
        }
    }
}

.navbar-mainmenu {
    display: none; // Hides the navbar-mainmenu on small devices/screens
    margin-bottom: 0;

    .nav {
        margin-bottom: 0;
    }

    @media #{$medium-up} {
        display: block; // Show the navbar-mainmenu on medium up devices/screens
    }

    @media #{$medium-only} {
        .nav li {
            font-size: 12pt;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

// Navigation list
//
// .nav-horizontal      - Makes the nav horizontal
//
// Markup:
// <ul class="nav {{modifier_class}}">
//     <li><a href="#">Item 1</a></li>
//     <li><a href="#">Item 2</a></li>
// </ul>

.nav {
    @extend .no-margin-padding;
    list-style-type: none;

    li {
        @extend .no-margin-padding;
        list-style-type: none;
    }
}

.nav-horizontal {
    display: table;
    width: 100%;

    li {
        display: table-cell;
    }
}

// Mobile navigation
//
// Markup:
// <nav class="nav-mobilemenu">
//      <ul class="nav"></ul>
// </nav>

.mobile-menu-wrapper {
    position: absolute;
    z-index: -10;
    background-color: $palette-red-2;
    overflow: hidden;
    transition: all .3s ease-in-out;

    .stripe {
        width: 5px;
    }

    .container {
        padding: 10px 15px 10px 20px;
    }
}

.nav-mobilemenu {
    margin: 10px 0;

    a {
        font-weight: 300;
        letter-spacing: .5px;
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
            background-color: darken($palette-red-2, 10%);
        }
    }
}