// Navigation bar
//
// Markup:
// <nav class="navbar"></nav>

.navbar {
    .nav {
        @extend .nav-horizontal;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14pt;

        li {
            padding-right: 20px;
            text-align: left;
        }

        a {
            color: $navbar-main-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $palette-red-4;
            }
        }

        li:first-child {
            text-align: left;
        }
    }
}

.navbar-mainmenu {
    display: none; // Hides the navbar-mainmenu on small devices/screens
    margin-bottom: 0;

    .nav {
        margin-bottom: 0;
    }

    @media #{$medium-up} {
        display: block; // Show the navbar-mainmenu on medium up devices/screens
    }

    @media #{$medium-only} {
        .nav li {
            font-size: 12pt;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

// Navigation list
//
// .nav-horizontal      - Makes the nav horizontal
//
// Markup:
// <ul class="nav {{modifier_class}}">
//     <li><a href="#">Item 1</a></li>
//     <li><a href="#">Item 2</a></li>
// </ul>

.nav {
    @extend .no-margin-padding;
    list-style-type: none;

    li {
        @extend .no-margin-padding;
        list-style-type: none;
    }
}

.nav-horizontal {
    display: table;
    width: 100%;

    li {
        display: table-cell;
    }
}

// Mobile navigation
//
// Markup:
// <nav class="nav-mobilemenu">
//      <ul class="nav"></ul>
// </nav>

.nav-mobilemenu {
    margin: 10px 0;
    padding-left: 10px;

    li + li {
        margin-top: 5px;
    }

    a {
        font-weight: 300;
        letter-spacing: .5px;
        color: #fff;
        text-decoration: none;
    }
}