.off-canvas {
    position: absolute;
    z-index: -2;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    background-color: $palette-red-2;

    .stripe {
        width: 5px;
    }

    .container {
        padding: 10px 15px 10px 20px;
    }
}

.off-canvas-in {
    .off-canvas {

    }
}