.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 3px 9px;
        background-color: $creamy;
        font-size: 11pt;
        color: $text-gray-dark;
        text-decoration: none;
        border: 1px solid $creamy-darker;

        &:hover {
            background-color: darken($creamy, 5%);
        }
    }

    .current a {
        background-color: $palette-red-2;
        border-color: $palette-red-2;
        color: #fff;
    }
}