.no-margin-padding {
    padding: 0;
    margin: 0;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.creamy {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $creamy;
    border: 1px solid $creamy-darker;
}