// Removes any padding and margin from any element
//
// Markup:
// <h1 class="no-margin-padding">Headline withour margin and padding</h1>

.no-margin-padding {
    padding: 0;
    margin: 0;
}

// Centers an element vertically by using position absolute.
// Make sure parent has position: relative;
//
// .center-vertical-rel         - Uses position: relative; instead of absolute
//
// Markup:
// <div class="parent-element">
//      <div class="center-vertical">This will be vetically centered in the parent-element</div>
// </div>

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-vertical-rel {
    position: relative;
}

// Creamy colored section with border top and bottom
// Can be used on any type of element
//
// Markup:
// <section class="creamy"></section>

.creamy {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $creamy;
    border: 1px solid $creamy-darker;
}

// Text modifiers
//
// .text-lg         - Large text
// .text-magenta    - Magenta colored text

.text-lg {
    font-size: 28pt;
}

.text-magenta {
    color: $palette-red-2;
}

// Better font rendering for Font Awesome icons

.fa {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Disable scrolling on any element
//
// Markup:
// <body class="no-scrolling">

.no-scroll {
    overflow: hidden;
}

// Loading indicator HBG
//
// Markup:
// <i class="hbg-loading">Optional text</i>

.hbg-loading {
    display: block;
    width: auto;
    height: 100%;
    min-height: 67px;
    min-width: 70px;
    padding-top: 67px;
    margin: 20px;
    background-image: url('../../../assets/images/loading-icon.gif');
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: $text-gray-light;
}

// Make any element display as inline-block
//
// .inline-block

.inline-block {
    display: inline-block;
}

.btn-mobile-menu {
    width: 30px;
    height: 30px;
}

.hbg-hamburger {
    $bar-height: 5px;
    $bar-radius: 5px;
    position: relative;
    display: block;
    height: $bar-height;
    width: 100%;
    border-radius: $bar-radius;
    background-color: $palette-red-4;
    transition: all .2s;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -$bar-height * 2;
        height: $bar-height;
        width: 100%;
        border-radius: $bar-radius;
        background-color: $palette-red-4;
        transition: all .2s;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: $bar-height * 2;
        height: $bar-height;
        width: 100%;
        border-radius: $bar-radius;
        background-color: $palette-red-4;
        transition: all .2s;
    }

    &.open,
    .open & {
        height: 0;

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}