.list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;
    }

    h3 a {
        color: $band-red-4;
        line-height: 90%;
    }

    li + li {
        margin-top: 20px;
    }

    a > .news-date {
        font-size: 11pt;
        font-weight: normal;
        color: #333;
    }

    .search-result-item-url {
        a {
            text-decoration: underline;
        }

        .fa {
            font-size: 10pt;
        }
    }
}

.search-query {
    font-weight: bold;
}