article {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12pt;
    letter-spacing: .5px;
    color: #333;

    header {
        .accessability-menu {
            margin-bottom: 30px;
        }

        .accessability-menu + h1 {
            margin-top: 0;
        }

        h1 {
            margin-top: 30px;
        }
    }

    ul {
        list-style-type: none;
        margin: 20px;
        margin-left: 40px;

        li {
            position: relative;

            & + li {
                margin-top: 5px;
            }

            &::before {
                position: absolute;
                left: -20px;
                top: 9px;
                content: '';
                width: 6px;
                height: 6px;
                background-color: #999;
            }
        }
    }

    .article-ingress {
        font-weight: bold;
        margin-bottom: rem-calc(20);

        p {
            font-weight: bold;
            font-size: rem-calc(18);
        }
    }

    // Append icon to external links
    a[href^="http://"]:not([href*="helsingborg.se"]):not([href*="readspeaker.com"]),
    a[href^="https://"]:not([href*="helsingborg.se"]):not([href*="readspeaker.com"]),
    a[href^="//"]:not([href*="helsingborg.se"]):not([href*="readspeaker.com"]) {
        &::before {
            display: inline-block;
            $icon-size: 12px;
            font-size: $icon-size;
            margin-right: 3px;
            @include hbg-icons($icon-external-link);
            text-decoration: none !important;
        }
    }

    a {
        text-decoration: underline;
        color: $band-blue-4;

        &:visited {
            color: $band-purple-4;
        }
    }

    & + div {
        margin-top: 30px;
    }
}

p {
    margin: 0;

    & + p {
        margin-top: rem-calc(20);
    }
}