// Red color scheme
$palette-red-1: #fab400;
$palette-red-2: #d72362;
$palette-red-3: #f27c00;
$palette-red-4: #be1e00;
$palette-red-5: #eb220f;

// Creamy color
$creamy: #f6f5f2;
$creamy-darker: #e7e5e1;

// Text color
$text-default: #252525;
$text-gray-dark: #464646;
$text-gray-light: #7f7f7f;

// Article link state colors

$link-a: #3344dd;
$link-a-hover: #bb1122;
$link-a-visited: #884488;