// Base font
$base-font-family: 'Roboto', 'Helvetica', 'Arial';
$base-font-size: 13pt;

// Container settings
$container-max-width: 1280px;

// Navbar
$navbar-main-color: #252525;

// Icons
$icon-link-arrow: "\f18e";
$icon-more-plus: "\f0fe";