@import "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

// Base font (set on <html>)
$base-font-family: 'Roboto', 'Helvetica', 'Arial';
$base-font-size: 17px;

// Alert
$alert-font-size: 1.1rem;
$alert-icon-font-size: 1.3rem;

// Article
$article-ingress-font-size: 1.15rem;
$article-accessibility-font-size: .95rem;

// Autocomplete
$autocomplete-font-size: .75rem;
$autocomplete-title-font-size: .85rem;

// Box Share
$box-share-title-font-size: 1rem;
$box-share-url-font-size: .75rem;

// Breadcrumbs
$breadcrumbs-font-size: .85rem;

// Forms
$input-font-size: .95rem;
$input-help-font-size: .8rem;

$datepicker-title-font-size: .7rem;
$zselect-font-size: .7rem;