.section-article {
    border-top: 1px solid $creamy-darker;
    padding-bottom: 60px;
}

.section-article-full {
    padding-top: 40px;
}

.section-article-search {
    padding-top: 60px;
    padding-bottom: 60px;
}

#widget-content-area {
    margin-top: 30px;
}

#widget-content-area .widget + .widget {
    margin-top: 20px;
}