/* Green */
$band-green-1: #afca05;
$band-green-2: #11a636;
$band-green-3: #a0c855;
$band-green-4: #50811b;
$band-green-5: #76b828;

body[data-theme="green"] {

    .button-primary {
        background: $band-green-4;
    }

    .color-band {
        background-image: url('../assets/images/color-band-green.svg');
    }

    .nav-bar {
        background: $band-green-4;
    }

    /**
     * Navigation
     */
    .nav-mainmenu {
        > ul {
            li {
                // Submenus
                ul {
                    background: darken($band-green-4, 5%);

                    li {
                        a:hover {
                            background: darken($band-green-4, 8%);
                        }
                    }
                }

                // Display submenu on hover
                &:hover {
                    background: darken($band-green-4, 5%);
                }
            }

            // Search
            .item-search {
                &.show-search {
                    background: darken($band-green-4, 5%);
                }

                .search-container {
                    background: darken($band-green-4, 5%);

                    .button.search {
                        background: $band-green-1;
                    }
                }
            }
        }
    }

    /**
     * Mobile nav
     */
    .right-off-canvas-menu {
        > ul {
            // # Current node
            .current-menu-item {
                a {
                    background: $band-green-1;
                }

                &.menu-item-has-children {
                    > a::after {
                        background: darken($band-green-1, 8%);
                    }
                }
            }
        }
    }

    /**
     * Breadcrumbs
     */
    .breadcrumbs {
        a, strong {
            color: $band-green-4;
        }
    }

    /**
     * Collection
     */
    .collection {
        /**
         * Test colors for the collection items
         * The colors should be set back-end in the future
         */
        &.collection-test-colors {
            .collection-item {

                &:nth-child(1n) {
                    .collection-item-content {
                        background: $band-green-1;

                        &:hover {
                            background: darken($band-green-1, 5%);
                        }
                    }
                }

                &:nth-child(2n) {
                    .collection-item-content {
                        background: $band-green-2;

                        &:hover {
                            background: darken($band-green-2, 5%);
                        }
                    }
                }

                &:nth-child(3n) {
                    .collection-item-content {
                        background: $band-green-3;

                        &:hover {
                            background: darken($band-green-3, 5%);
                        }
                    }
                }

                &:nth-child(4n) {
                    .collection-item-content {
                        background: $band-green-4;

                        &:hover {
                            background: darken($band-green-4, 5%);
                        }
                    }
                }

                &:nth-child(5n) {
                    .collection-item-content {
                        background: $band-green-5;

                        &:hover {
                            background: darken($band-green-5, 5%);
                        }
                    }
                }

            }
        }
    }

    /**
     * Widggets
     */
    .widgets-test-color {
        .widget {
            &:nth-child(1n) {
                .widget-content {
                    background: $band-green-1;

                    p > a {
                        color: lighten($band-green-1, 50%);
                        text-decoration: underline;
                    }
                }
            }

            &:nth-child(2n) {
                .widget-content {
                    background: $band-green-2;

                    p > a {
                        color: lighten($band-green-2, 50%);
                        text-decoration: underline;
                    }
                }
            }

            &:nth-child(3n) {
                .widget-content {
                    background: $band-green-3;

                    p > a {
                        color: lighten($band-green-3, 50%);
                        text-decoration: underline;
                    }
                }
            }

            &:nth-child(4n) {
                .widget-content {
                    background: $band-green-4;

                    p > a {
                        color: lighten($band-green-4, 50%);
                        text-decoration: underline;
                    }
                }
            }

            &:nth-child(5n) {
                .widget-content {
                    background: $band-green-5;

                    p > a {
                        color: lighten($band-green-5, 50%);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /**
     * Footer
     */
    .main-footer {
        background: $band-green-4;
    }

}